# Документация проекта "Кто быстрее угадает"

## Описание проекта
Это Telegram-бот, который позволяет пользователям играть в игру "Кто быстрее угадает". Бот загадывает слово и дает подсказку, а игроки соревнуются, кто первым угадает слово.

### Функционал
- Создание игры с уникальным кодом.
- Присоединение к игре по коду.
- Получение подсказки и угадывание слова.
- Оповещение всех игроков о победителе.

### Технологии
- Python 3.7+
- Библиотека `aiogram` для работы с Telegram API.
- Асинхронное программирование с `asyncio`.

### Установка и запуск
- Серверная часть bash
- Клиентская часть tg   
